html > .footer {
  height: 100%;
}
.footer {
  padding-left: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  font-size: 48%;
}
.leftSide {
  display: inline;
}
.rightSide {
  float: right;
  padding-right: 5px;
}

@media screen and (min-width: 768px) {
  html > .footer {
    height: 100%;
  }
  .footer {
    padding-left: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    font-size: 1.5rem;
  }
  .leftSide {
    display: inline;
  }
  .rightSide {
    float: right;
    padding-right: 25px;
  }
}
