.logo {
  width: 60px;
  padding: 0.5rem;
  padding-left: 0.1rem;
}

body > .head {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 2rem;
}
.LogoText {
  padding-top: 10px;
  float: left;
}

.LogoText > a {
  text-decoration: none;
  color: #b1b0bd;
  font-size: 2.8rem;
  text-shadow: 0px 0px 20px rgb(26, 112, 192);
}

/* Navigation Bar */
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.navList {
  width: 100%;
  margin: 0;
}
.navItem {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #222;
}

.navItem > a {
  text-decoration: none;
  color: #b1b0bd;
  position: relative;
  transition: color 0.3s;
}

.navItem > a:hover {
  color: #fff;
}

.navItem > a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 0.2rem;
  left: 50%;
  position: absolute;
  background: #b1b0bd;
  transition: color 0.3s, width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navItem > a:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}

.navToggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.collapsibleContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.3s;
}
.collapsibleExpanded .collapsibleContent {
  max-height: 100vh;
  opacity: 1;
}
.nav.collapsibleExpanded .navToggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

@media screen and (min-width: 1340px) {
  .navToggler {
    display: none;
  }

  .navList {
    width: auto;
    display: flex;
    font-size: 2.1rem;
    max-height: 100%;
    opacity: 1;
  }
  .navItem {
    border: 0;
  }
  .logo {
    width: 85px;
    padding-left: 1rem;
  }

  .LogoText {
    padding: 0;
    padding-top: 0.5rem;
  }
  .LogoText > a {
    font-size: 5.8rem;
  }
}
