.midContent {
  padding: 1.2rem;
  background-color: black;
}
.bannerHeading {
  color: #e2dfec;
  text-align: center;
  font-size: 3.25rem;
  font-weight: 850;
}
.bannerSkew {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
.bannerRightSide {
  padding-top: 1rem;
  background: #212529;
  text-align: center;
  padding-bottom: 200px;
}

.whatWeDo {
  padding: 3rem;
}
.LatestWork>h2,
.whatWeDo > h2 {
  text-align :center;
}
.LatestWork {
  padding: 1.2rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
}

@media screen and (min-width: 1340px) {
  .bannerRightSide {
    padding-top: 10rem;
    background: #212529;
    text-align: center;
    padding-bottom: 20px;
    
  }
  .LatestWork,
  .whatWeDo {
    padding: 3rem;
  }
}

.TalkExpert {
  background-size: cover;
  max-width: 100%;
  height: auto;
  padding: 1rem;
  padding-bottom: 4rem;
  text-align: center;
}
.TalkExpert > h3 {
  color: #e9f4ff;
  padding-bottom: 0.5rem;
  text-shadow: 1px 1px 0px #000000;
  font-size: 3rem;
}
