a {
  text-decoration: none;
  color: #ff3400;
  position: relative;
  transition: color 0.3s;
}

a:hover {
  color: #b43414;
}
.ourWork > .grid3 {
  grid-gap: 10rem;
  padding: 2rem;
  grid-auto-rows: minmax(200px, auto);
}
.g1 {
  background: #f1f1f8;
  margin-top: 2rem;
  padding-top: 1rem;
}
.g2 {
  background: #d5d5e0;
  margin-top: 2rem;
  padding-top: 1rem;
}

.grid10 {
  grid-gap: 2rem;
  padding-left: 4rem;
}

.grid {
  background: #ffffff;
}
